@media screen and (max-width: 480px){
  body{
      background-color: #E4E5E9;
  }
    header {
        height: auto;
        padding: 12px 0;
    }

    .header__w1252 {
        width: 100%;
        padding: 0 10px;
        justify-content: space-between;
    }

    .burger-btn {
        width: 32px;
        height: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        z-index: 999;
    }

    .burger-btn span {
        height: 4px;
        border-radius: 4px;
        background: #001858;
        transition: .3s;
    }

    .burger-toggle:checked + .burger-btn span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }
    .burger-toggle:checked + .burger-btn span:nth-child(2) {
        opacity: 0;
    }
    .burger-toggle:checked + .burger-btn span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }
    nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 75%;
        height: 100vh;
        padding: 80px 24px;

        background: #EFF0F3;
        box-shadow: -4px 0 14px rgba(0,0,0,0.2);

        display: flex;
        flex-direction: column;
        gap: 24px;

        transition: .35s ease;
    }

    .burger-toggle:checked ~ nav {
        right: 0;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    nav ul a {
        font-size: 22px;
    }

    .nav-search {
        width: 100%;
        height: 40px;
    }
    .nav-search input {
        width: 100%;
    }

    .navbar-cta {
        width: 100%;
        justify-content: center;
        font-size: 20px;
    }
    .hero-section {
        height: auto;
        padding-top: 100px;
    }
    .hero-section__w1252 {
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 50px;
        padding: 0 10px;
    }
    .hero-section__w1252 h1{
        font-weight: 700;
        font-size: 40px;
        width: max(360px);
        height: auto;
    }
    .hero-section__w1252 p {
        width: max(360px);
        height: auto;
        font-weight: 400;
        font-size: 18px;
        color: rgba(154, 148, 148, 1);
        line-height: 25px;
    }
    .subscribe-form{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 8px;
    }
    .subscribe-form input[type=email] {
        width: 250px;
        height: 35px;
        padding: 21px 0 21px 25px;
    }
    .subscribe-form input[type=email]::placeholder {
        font-weight: 400;
        font-size: 15px;
    }
    .subscribe-form input[type=submit] {
        width: 75px;
        height: 42px;
        font-size: 13px;
        padding: 5px;
    }
    .category-section {
        height: auto;
        padding: 70px 0;
    }
    .category-section__w1252 {
        width: 100%;
        padding: 0 10px;
    }
    .category-section h2 {
        font-weight: 700;
        font-size: 22px;
    }
    .see-all__links-desk {
        display: none;
    }
    .see-all__links-mob {
        display: block;
    }
    .see-all__links a:last-of-type {
        margin-top: 0;
    }
    .category-cards {
        flex-direction: column;
        gap: 20px;
    }
    .category-card {
        width: 80%;
        align-items: center;
        padding-left: 0;
    }
    .articles-section {
        height: auto;
        padding-bottom: 80px;
    }
    .articles-section__w1252{
        width: 100%;
        padding: 0 10px;
    }
    .article-group-name h2 {
        font-weight: 700;
        font-size: 22px;
    }
    .article-cards {
        flex-direction: column;
        gap: 20px;
    }
    .article-card {
        border: 0.5px solid rgba(98, 70, 234, 0.13);
    }
    .articles-section__w1252 button {
        margin: 80px auto 0 auto;
    }
    .subscribe-section__container {
        justify-content: space-between;
        padding: 0 10px;
    }
    .subscribe-section__container h2 {
        font-size: 28px;
        text-align: center;
    }
    .subscribe-section__container p{
        font-size: 18px;
    }
    footer {
        height: auto;
    }
    .footer__w1252 {
        width: 100%;
        padding: 0 10px;
    }
    .footer-cont-wrapper {
        flex-direction: column;
    }
    .footer-left-col {
        height: 125px;
        margin-top: 50px;
    }
    .footer-left-col p:nth-child(2) {
        font-size: 16px;
    }
    .footer-nav-links {
        width: 100%;
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr 1fr;
        gap: 15px 50px;
        justify-items: center;
    }
    footer h3 {
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 3px;
    }
    footer .footer-nav-links a {
        font-weight: 400;
        font-size: 14px;
        color: #2B2C34;
    }
    footer .footer-nav-links li {
        margin-top: 8px
    }
    hr {
        margin: 150px 0 10px 0;
    }
    .footer-copyright {
        font-weight: 400;
        font-size: 14px;
        color: #2B2C34;
        padding-bottom: 15px;
    }
}

